{% extends 'Tracking/main.html' %}

{%block content%}

{% include 'Tracking/status.html' %}

<br>
<div class="container">
	<div class="row">
		<div class="col-6">
		<hr>
		<h1>Global Info:</h1>
		<hr>
			<h3>Total Confirmed: {{global.cases}}</h3>			

			<h3>Total Deaths: {{global.deaths}}</h3>			

			<h3>Total Recovered   : {{global.recovered}} </h3>		
			<h3>Active cases      : {{global.active}} </h3>			
			<h3>Critical Cases    : {{global.critical}} </h3>	
			<h3>Deaths Per Million: {{global.deathsPerOneMillion}} </h3>	

			  
		</div>
		
		<div class="col-6">
			<hr>
			<h1>Last Update: </h1>
			<hr>

			<h3>{% now "Y-m-d" %}</h3>
		
			
		</div>
	
	</div>
</div>


{% endblock %}