<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="total-orders">
				<div class="card-header">
					<h5 class="card-title">New Confirmed</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.todayCases}}</h3>
			    </div>
			</div>	
		</div>		
   </div>

   <div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="orders-delivered">
				<div class="card-header">
					<h5 class="card-title">New Deaths</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.todayDeaths}}</h3>
			    </div>
			</div>	
		</div>		
   </div>

   <div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="orders-pending">
				<div class="card-header">
					<h5 class="card-title">Total tests</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.tests}} </h3>
			    </div>
			</div>	
		</div>		
   </div>

</div>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="total-orders">
				<div class="card-header">
					<h5 class="card-title">Total Confirmed</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.cases}}</h3>
			    </div>
			</div>	
		</div>		
   </div>

   <div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="orders-delivered">
				<div class="card-header">
					<h5 class="card-title">Total Deaths</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.deaths}}</h3>
			    </div>
			</div>	
		</div>		
   </div>

   <div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="orders-pending">
				<div class="card-header">
					<h5 class="card-title">Total Recovered</h5>
			    </div>
			    <div class="card-body">
			    	<h3 class="card-title">{{geodata.recovered}}</h3>
			    </div>
			</div>	
		</div>		
   </div>
</div>